.footer{
    color:white;
    
}
h3{
    font-size: 90% !important;
    display: inline-block !important;
}

.connect{
    display: flex !important;
    justify-content: flex-end !important;
    color: white !important;
}
