.card {
    text-align: center;
    background-color: purple;
}
.card-cols{
    padding: 3%;
    display: flex;
}

    
.card svg:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}
